{% extends 'template.html' %}
{% load staticfiles%}

{% block head %}
    <title> Джинн - сервис для поиска исполнителя для вашего задания</title>
    <meta name="description" content="Джинн - это онлайн-ресурс, который позволяет оставлять свои заказы, а также исполнять заказы других">
    <meta name="keywords" content="заказать услугу, найти подработку, исполнитель, выполнить работу, услуги, категории, задания, фриланс, курьерские услуги, ремонт, грузоперевозки">
{% endblock %}

{% block main %}
    <div class="page-header" style="margin-top: -20px;">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img src="{% static 'img/djinn.jpg' %}" alt="" class="img-responsive">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>Джинн исполнит ваши желания!</h3>
                <p>Джинн - это онлайн-ресурс, который позволяет, с одной стороны, оставлять свои заказы, а с другой - исполнять заказы других </p>
                <a class="btn btn-primary" data-toggle="modal" href="#subscribe" title="Подписаться на новости">Подписаться на новости</a>
            </div>
        </div>
    </div>

    <div class="page-header">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h3>Джинн исполнит ваши желания!</h3>
                <p>Джинн - это онлайн-ресурс, который позволяет, с одной стороны, оставлять свои заказы, а с другой - исполнять заказы других </p>
                <a class="btn btn-primary" data-toggle="modal" href="#subscribe">Подписаться на новости</a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h3>Джинн исполнит ваши желания!</h3>
                <p>Джинн - это онлайн-ресурс, который позволяет, с одной стороны, оставлять свои заказы, а с другой - исполнять заказы других </p>
                <a class="btn btn-primary" data-toggle="modal" href="#subscribe">Подписаться на новости</a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h3>Джинн исполнит ваши желания!</h3>
                <p>Джинн - это онлайн-ресурс, который позволяет, с одной стороны, оставлять свои заказы, а с другой - исполнять заказы других </p>
                <a class="btn btn-primary" data-toggle="modal" href="#subscribe">Подписаться на новости</a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h3>Джинн исполнит ваши желания!</h3>
                <p>Джинн - это онлайн-ресурс, который позволяет, с одной стороны, оставлять свои заказы, а с другой - исполнять заказы других </p>
                <a class="btn btn-primary" data-toggle="modal" href="#subscribe">Подписаться на новости</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h3>Джинн исполнит ваши желания!</h3>
                <p>Джинн - это онлайн-ресурс, который позволяет, с одной стороны, оставлять свои заказы, а с другой - исполнять заказы других </p>
                <a class="btn btn-primary" data-toggle="modal" href="#subscribe">Подписаться на новости</a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h3>Джинн исполнит ваши желания!</h3>
                <p>Джинн - это онлайн-ресурс, который позволяет, с одной стороны, оставлять свои заказы, а с другой - исполнять заказы других </p>
                <a class="btn btn-primary" data-toggle="modal" href="#subscribe">Подписаться на новости</a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h3>Джинн исполнит ваши желания!</h3>
                <p>Джинн - это онлайн-ресурс, который позволяет, с одной стороны, оставлять свои заказы, а с другой - исполнять заказы других </p>
                <a class="btn btn-primary" data-toggle="modal" href="#subscribe">Подписаться на новости</a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h3>Джинн исполнит ваши желания!</h3>
                <p>Джинн - это онлайн-ресурс, который позволяет, с одной стороны, оставлять свои заказы, а с другой - исполнять заказы других </p>
                <a class="btn btn-primary" data-toggle="modal" href="#subscribe">Подписаться на новости</a>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h3 class="text-center">Как пользоваться системой?</h3>
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img src="{% static 'img/steps.jpg' %}" alt="" class="img-responsive">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img src="{% static 'img/steps.jpg' %}" alt="" class="img-responsive">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img src="{% static 'img/steps.jpg' %}" alt="" class="img-responsive">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img src="{% static 'img/steps.jpg' %}" alt="" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img src="{% static 'img/steps.jpg' %}" alt="" class="img-responsive">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img src="{% static 'img/steps.jpg' %}" alt="" class="img-responsive">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img src="{% static 'img/steps.jpg' %}" alt="" class="img-responsive">
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <img src="{% static 'img/steps.jpg' %}" alt="" class="img-responsive">
            </div>
        </div>
    </div>

    <div class="page-header">
        <h3 class="text-center">Наши преимущества:</h3>
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <img src="{% static 'img/money.jpg' %}" class="img-responsive">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h3>Выгодные цены</h3>
                <p>У частных исполнителей нет расходов на офис, рекламу, зарплату секретарю и
                    других затрат, которые сервисные компании обычно включают в стоимость своих услуг.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <img src="{% static 'img/money.jpg' %}" class="img-responsive">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h3>Выгодные цены</h3>
                <p>У частных исполнителей нет расходов на офис, рекламу, зарплату секретарю и
                    других затрат, которые сервисные компании обычно включают в стоимость своих услуг.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <img src="{% static 'img/money.jpg' %}" class="img-responsive">
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h3>Выгодные цены</h3>
                <p>У частных исполнителей нет расходов на офис, рекламу, зарплату секретарю и
                    других затрат, которые сервисные компании обычно включают в стоимость своих услуг.</p>
            </div>
        </div>
    </div>

    <script>
    $( document ).ready(function() {
        $("#btn_instruction").click(function() {
        $('html, body').animate({
            scrollTop: $("#instruction").offset().top
        }, 2000);
        });
    });
    </script>

{% endblock%}